.main-container {
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: none;
}

.main-col {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.bottom-btn {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  text-align: center;
}

.btn-pro {
  background-color: steelblue !important;
  color: white !important;
}

.btn-basic {
  background-color: blueviolet !important;
  color: white !important;
}

.btn-business {
  background-color: yellowgreen !important;
  color: white !important;
}

.rb {
  border-right: 1px solid lightgray;
}

.lb {
  border-left: 1px solid lightgray;
}

.tb {
  border-top: 1px solid lightgray;
}

.bb {
  border-bottom: 1px solid lightgray;
}

.value {
  background-color: yellowgreen;
}

.accordion {
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.accordion-item {
  border: none !important;
}

.accordion-body {
  padding: 0px !important;
}

.info-col {
  text-align: center;
}

.accordion-button {
  color: black !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.check {
  color: green;
  font-size: 1.25rem;
}

.cross {
  color: red;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  * {
    letter-spacing: 0.01rem !important;
    font-size: 0.8rem !important;
    word-wrap: break-word !important;
  }
}

@media (max-width: 768px) {
  .col {
    padding: 0px !important;
    text-align: center;
  }
}
